<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Концелярский_Нож.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Концелярский_Нож.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Концелярский_Нож.Properties.Settings>
            <setting name="notepadFilename" serializeAs="String">
                <value>notepad.rtf</value>
            </setting>
        </Концелярский_Нож.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Концелярский_Нож.Properties.Settings>
            <setting name="Концелярский_Нож_RBKServise_DailyInfo" serializeAs="String">
                <value>http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx</value>
            </setting>
        </Концелярский_Нож.Properties.Settings>
    </applicationSettings>
</configuration>